<!doctype html>
<html>
    <head>
        <title>{{page_title}}</title>

        <style>
            .error {
                color: red; 
                }
        </style>
    </head>
<body>

        <div>
            <a href='/'>home</a>
            <a href='/blog'>all posts</a>
            <a href="/blog/newpost">new post</a>
        </div>

        
        <div align='right'> 
            <a href="/login">login</a>
            <a href="/logout">logout</a>
        </div>

    {% block content %}
    {% endblock %}

</body>
</html>